html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
  body
    h1#title= message
    form(action='/search', method='POST')
      p= 'Search:'
      input(type='text', name='search', value='')
      input(type='submit', value="I'm Feeling Thirsty")
